<!--



  /\_/\  (
 ( ^.^ ) _)
   \"/  (
 ( | | )
(__d b__)
                                                             

There you are, good job !
This is the first beginning of your journey to app dev and web dev, 
curiosity is everything that makes successful people,
If you don't know it yet, a web app is divided : frontend and backend;
you can always check frontend code (as the browser needs to read it),
backend is stored in the server, but since everything is in the same folder,
I wanted to split the app logic into two parts and avoid putting almost everything into the backend,
(as you might guess, the backend is put as a binary, it's a C compiled binary)
Why ? so you can learn too ! we all started like this !
we check sources and dig deeper to understand and learn,
for example, graphes could be made from backend (using matplotlib for example), 
but we prefered to make it easier with charts.js,
or sometimes i make sums using python and something i do them directly on templates (html)
using javascript or python itself,
We did that so anyone could do better apps, this app is not the best, but we try to make it the best,
Never understimate your clients by giving them crappy apps !
this app is still evolving, the client needs more (minor updates, fixes, upgrades...),
So here is the final word :
You want to learn by your own, you have 50% of the app,
You want to learn from someone else and make your own solutions, we are here,
You have ideas and want to make them as innovative products and solutions, we are here !
https://aicignaw.com
+213 775 744 482 
Thanmirth ^_^
 -->